*{
    margin: 0;
    box-sizing: border-box;
}


html{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    padding: 7px;
    background-color: rgb(46, 125, 128);
    color: cornsilk;
    text-align: center;
}

.enter {
    padding: 10px !important;
    text-align: center;
 }

 .unedit{
     width: 3em;
 }

 button {
     background-color: rgb(46, 125, 128) !important;
     color: cornsilk !important;
     border-radius: 5px !important;
     border: 1px solid rgb(15, 104, 104) ;
     width: 7em;
 }
 button:hover {
     background-color: rgb(15, 104, 104) !important;
     color: rgb(238, 227, 185) !important;
     transform: scale(1.1);  
 }

 input{
     border-radius: 6px;
    
 }
 input:focus{
     outline: none;
 }
 
